* {
    box-sizing: border-box;
    margin: 0%;
}

body {
    font-family: Advent Pro;
}

header {
   color: white;
   background-color: #008080;
    padding-left: 100px;
    padding-top: 50px;
    font-size: 50px;
    font-weight: bolder;
}

.alpha {
    background-color: #008080;
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 0%auto;
    max-height: 50px;
}

.alpha-nav {
  display: inline-flex;
  list-style-type: none;
  padding: 100px;


}

li a {
    color: #ffffff;
    padding-left: 30px;
    font-size: 25px;
    font-weight: bolder;
}

a:hover {
    background-color: #ffffff;
    color: teal;
    border: none;
}

.icon {
    color: #ffffff;
    padding: 50px;
    font-size: 40px;
    padding-top: 15px;
}

.button {
    height: 100px;
}

.subscribe {
    height: 50px;
    width: 200px;
    background-color: #ffffff;
    border: 3px solid goldenrod;
    border-radius: 2px;
    cursor: pointer;
    font-family: Advent Pro;
    font-size: 20px;
}

.block_container {
    display: flex;
    justify-content: center;
}

.genre {
    display: flex;
    list-style-type: none;
    text-decoration: underline;
    padding-left: 400px;
    border-bottom: 4px solid #a0522d;
}

li {
    padding-left: 20px;
}

h1 {
    border-bottom: 4px solid #daa520;
}

h1:hover {
    background-color: #daa520;
    color: #ffffff;
}

.item {
    color: #000000;
    font-size: 15px;
}

.item:hover {
    background-color: #a0522d;
    color: #ffffff;
}
